* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url('font/GOTHIC.TTF');
  src: url('Antro_Vectra.otf');
}

body {
  background-color: #3E3C89;
  font-family: 'Ubuntu';
}

header {
  background-color: #f2f2f0;
  background-position: bottom center;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;
}

#rect {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bar {
  text-align: center;
  overflow: hidden;
}

.bar img {
  width: 155px;
  float: left;
}

nav {
  width: 100%;
  float: left;
}

nav ul {
  margin-top: 25px;
}

nav li {
  display: inline-block;
  border-bottom: none;
  margin: 0px 30px 10px;
  text-align: center;
  letter-spacing: normal;
}

nav a {
  padding: 10px 10px;
  position: relative;
  z-index: 0;
  text-decoration: none;
  color: #3E3C89;
  font-size: 18px;
  font-family: "Century Gothic";
  font-style: italic;
  letter-spacing: 2px;
}

.circleBehind a:before,
.circleBehind a:after {
  position: absolute;
  top: 22px;
  left: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #f26295;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
  border-radius: 50%;
  background: transparent;
  content: "";
  opacity: 0;
  transition: all 0.3s;
  z-index: -1;
}

.circleBehind a:after {
  border-width: 2px;
  transition: all 0.4s;
}

.circleBehind a:hover:before {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}

.circleBehind a:hover:after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
}

.hello {
  position: absolute;
  top: 43%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sub_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}

header p {
  text-align: center;
  color: #f26295;
  letter-spacing: 6px;
  font-family: "Century Gothic";
  font-style: italic;
  overflow: hidden;
  position: absolute;
  top: 97%;
  left: 35%;
}

section h1 {
  text-align: center;
  font-family: "Century Gothic";
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 7px;
  color: #f2f2f0;
  font-size: 34px;
  padding-top: 42px;
}

.pupre {
  color: #3e3c89;
}

h2 {
  width: 200px;
  margin: -23px auto;
}

section {
  margin: -1px;
}

#about {
  background-image: url(img/about.png);
  background-size: cover;
  background-position: top center;
  height: 900px;
}

.center {
  width: 820px;
  margin: 100px auto 0;
}

.introduce {
  color: #F2F2F0;
  width: 200px;
  margin: -200px auto 0;
}

.name {
  font-size: 34px;
  letter-spacing: 10px;
  font-weight: bold;
  font-style: italic;
}

.introduce p {
  width: 500px;
  font-family: "YuGothic";
  line-height: 27px;
  margin-bottom: 10px;
  text-shadow: 2px 1px 3px #333333;
}

.btn {
  margin-top: 70px;
  text-align: center;
  letter-spacing: 3px;
}

.btn a {
  font-family: "century gothic";
  border-radius: 30px;
  text-decoration: none;
  padding: 15px 50px;
  letter-spacing: 7px;
  font-weight: bold;
  color: #FFF;
  box-shadow: 4px 3px 21px 0px #333333;
  background-image: -webkit-linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
  background-image: linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
  transition: 0.8s;
}

.btn a:hover {
  background-image: -webkit-linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
  background-image: linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
  color: #3e3c89;
}

#skill {
  background-image: url(img/skill.png);
  background-size: cover;
  background-position: top center;
  height: 900px;
}

.wrapper {
  width: 816px;
  margin: 130px auto;
}

.icon {
  width: 220px;
  float: left;
  margin-right: 50px;
}

.icon img {
  width: 130px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.icon h3 {
  text-align: center;
  margin-top: 10px;
  color: #f26295;
  font-style: italic;
}

.icon p {
  font-size: 14px;
  line-height: 1.7;
  color: #3E3C89;
  font-family: "YuGothic";
  margin-top: 5px;
}

#work {
  background-image: url(img/work.png);
  background-size: cover;
  background-position: top center;
  height: 900px;
}

.work {
  float: left;
  margin: 30px 10px 0px;
  border-radius: 5px;
  height: 140px;
  transition: 0.5s;
}

.work:hover {
  box-shadow: 0px 0px 15px #00000060;
}

.work img {
  width: 252px;
  border-radius: 4px;
  box-shadow: 0px 0px 15px #00000047;
}

.clear {
  clear: left;
}

/*モーダル*/

.popupbg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
}

.popup_wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: none;
}

.modal {
  overflow: auto;
  height: 600px;
  background-color: #ffffff;
  box-shadow: 0 0 15px #00000066;
  border-radius: 8px;
}

.modal_contents {
  padding: 10px 24px 40px 24px;
  padding-top: 20px;
  color: #333333;
  line-height: 1.7;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

.close_btn {
  position: absolute;
  border-radius: 50%;
  right: 0;
  top: 0;
  margin: -15px -15px 0 0;
  cursor: pointer;
  z-index: 999;
  transition: 0.3s;
}

.close_btn:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 15px #00000066;
}

.contents_btn {
  text-align: center;
  margin-top: 30px;
}

.contents_btn a {
  font-size: 14px;
  font-family: "century gothic";
  border-radius: 30px;
  text-decoration: none;
  padding: 15px 50px;
  letter-spacing: 7px;
  font-weight: bold;
  color: #FFF;
  box-shadow: 4px 3px 21px 0px #00000066;
  background-image: -webkit-linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
  background-image: linear-gradient(45deg, #b664eb 0%, #3e3c89 100%);
  transition: 0.8s;
}

.contents_btn a:hover {
  background-image: -webkit-linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
  background-image: linear-gradient(45deg, #F2F2F0 0%, #F2F2F0 100%);
  color: #3e3c89;
}

.coming_btn {
  text-align: center;
}

.coming_btn a {
  font-size: 14px;
  font-family: "century gothic";
  text-decoration: none;
  letter-spacing: 7px;
  color: #9E9E9E;
}

#vision {
  background-image: url(img/vision.png);
  background-size: cover;
  background-position: top center;
  height: 900px;
}

.vision_img {
  width: 0px;
  margin: 100px auto 0;
}

.text {
  width: 750px;
  margin: -140px auto 0;
  color: #3E3C89;
  font-family: "YuGothic";
}

.text strong {
  font-size: 24px;
  font-style: italic;
}

.text p {
  width: 550px;
  font-family: "YuGothic";
  text-shadow: 2px 1px 3px #ffffff;
  line-height: 27px;
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: #3E3C8C;
  height: 170px;
}

footer .link {
  padding: 80px 0 30px;
  overflow: hidden;
}

footer a {
  margin: 10px;
  padding: 100px 0;
  color: #f26295;
  font-family: "YuGothic";
}

.fuwatAnime {
  -webkit-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -ms-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fuwatAnime;
  -ms-animation-name: fuwatAnime;
  animation-name: fuwatAnime;
  visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fuwatAnime {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

/*ここからスマートフォン*/

@media screen and (max-width:750px) and (min-width:320px) {


  header {
    width: 100%;
    height: 100vh;
  }

  nav li {
    margin: 0px 20px;
  }

  #about img {
    width: 320px;
  }

  #about p {
    width: 430px;
  }

  .center {
    width: 670px;
  }

  .icon {
    width: 200px
  }

  .wrapper {
    width: 700px;
  }

  .project img {
    width: 210px;
  }

  #vision img {
    width: 330px;
  }

  .text {
    width: 650px;
  }

}

@media screen and (max-width:414px) and (min-width:320px) {

  header {
    background-position: top;
    background-size: contain;
    background-position: bottom;
    height: 600px;
    text-align: center;
  }

  #rect img {
    width: 350px;
  }

  .hello {
    top: 54%;
  }

  .hello img {
    width: 300px;
  }

  .sub_logo img {
    width: 250px;
    margin: 0 auto;
  }

  .sub_logo {
    width: 250px;
    margin: 0 auto;
    padding-top: 100px;
  }

  header nav {
    display: none;
  }

  header p {
    padding-top: 390px font-style: italic;
    font-size: 12px;
    letter-spacing: 3px;
    left: 12%;
  }

  #about {
    height: 100%;
  }

  .center {
    width: 320px;
    margin: 20px auto 0;
  }

  .center img {
    margin-left: -25px;
  }

  .introduce {
    width: 300px;
    margin: 0 auto;
  }

  .introduce p {
    max-width: 300px;
    font-size: 14px;
    line-height: 26px;
  }

  .name {
    font-size: 34px !important;
    letter-spacing: 10px;
    font-weight: bold;
    font-style: italic;
  }

  .btn {
    padding-bottom: 70px;
    margin-top: 70px;
    text-align: center;
    letter-spacing: 3px;
  }

  #skill {
    height: 100%;
  }

  .wrapper {
    width: 300px;
    margin: 50px auto 100px;
    overflow: hidden;
  }

  .icon {
    width: 300px;
    margin-bottom: 20px;
  }

  .icon img {
    width: 130px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .icon p {
    font-size: 14px;
    line-height: 1.7;
    margin-top: 5px;
  }

  .icon.last {
    margin-bottom: 150px;
  }

  #work {
    margin-top: -150px;
    height: auto;
  }

  .project {
    float: left;
    margin-top: 30px;
  }
  .project img {
    width: 300px;
  }

  #vision {
    height: 100%;
  }


  .vision_img {
    width: 300px;
    margin: 60px auto 0;
  }

  .text {
    width: 300px;
    margin: 10px auto 0;
    color: #3E3C89;
    font-family: "YuGothic";
  }

  .text strong {
    font-size: 20px;
    font-style: italic;
  }

  .text p {
    width: 300px;
    font-size: 14px;
    font-family: "YuGothic";
    text-shadow: 2px 1px 3px #ffffff;
    line-height: 20px;
  }

  footer {
    text-align: center;
    color: #ffffff;
    background-color: #3E3C8C;
    height: 170px;
    font-size: 14px
  }

  footer .link {
    padding: 80px 0 30px;
    overflow: hidden;
  }

  footer a {
    margin: 10px;
    padding: 100px 0;
    color: #f26295;
    font-family: "YuGothic";
  }


}